/**
 * Settings
 * variables
 */

/**
 * Colors
 */

$colorPrimary   = #efe		// Green
$colorSecondary = #fee		// Red
$colorBase      = #fff		// White
$colorLight     = #eee		// Light grey
$colorDark      = #333		// Dark grey

/**
 * Dimensions
 */

$maxWidth       = 42em
$gutter         = 1.8em
$space          = 3.6em

/**
 * Fonts
 */

$fontBase       = $verdana;
$fontPrimary    = 'MorebiRounded-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif
$fontSecondary  = 'MorebiRounded-Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif

/**
 * Transitions
 */

// transitions settings

/**
 * Layers
 */

// z-index values here
