/**
 * Base
 * layout
 */

body
	background-color $colorSecondary
	color $colorDark

/**
 * Header
 */

.header
	background-color $colorPrimary
	color $colorSecondary
	padding $space $gutter $space
	text-align center

	h1, h2, h3
		line-height 1.5

	&__title
		text-align center
		font-size 2.4em
		margin 0
		padding $gutter 0
		
		@media screen and (max-width 27em)
			font-size 2.1em
			padding 0

	&__ecard
		border-radius 0.5em
		box-shadow 0.45em 0.45em 0 $colorPrimary
		margin-bottom -12em

/**
 * Page
 */

.page
	background-color $colorBase
	padding $space $gutter $gutter

	&__content
		margin 0 auto
		max-width 42em
		padding $gutter 0 ($space*3)

		form
			margin-top ($space*2)

	h1, h2, h3, h4, h5, h6
		color $colorPrimary
		
	a
		color $colorPrimary
		border-bottom 0.12em solid $colorSecondary
		text-decoration none

/**
 * Footer
 */

.footer
	background-color $colorSecondary
	padding 0em 0 1em
	position relative

	@media screen and (min-width 42em)
		padding 4.5em 0 1em

	a
		color $colorDark

.footer .logo
	background-repeat no-repeat
	background-size contain
	background-position center center
	display block
	height 8em
	margin-top -($gutter)
	overflow hidden
	text-indent 120em
	width 100%

	@media screen and (min-width 42em)
		position absolute

	&.-haaglanden
		background-color $colorBase
		background-image: url('/content/images/logo-bereikbaarhaaglanden.svg')
		border-bottom $space solid $colorBase
		height (8em+$space)
			
		@media screen and (min-width 42em)
			border none
			bottom 0
			height auto
			left 0
			top 0
			width ($space*3.6)

	&.-ga3punt0
		background-color transparent
		background-image url('/content/images/logo-ga3punt0.svg')

		@media screen and (min-width 42em)
			height 8em
			right $gutter
			top ($gutter*-1)
			width ($space*5)

.footer .copyright
	margin 0 $gutter 1em
	text-align center
	
	@media screen and (min-width 42em)
		text-align right
