/**
 * Internet Explorer
 * layout
 */

body
	width auto

.lt-ie9
	background-color $colorPrimary
	text-align center

	body
		background-color $colorSecondary
		margin 0 auto
		text-align left
		width 480px
