/**
 * Forms
 * base
 */

form div div
	padding ($gutter/2) 0

label
	color $colorPrimary
	display block
	font-family $fontPrimary
	font-size 1.2em
	padding 0

input,
textarea
	background transparent
	border 0.1em solid $colorPrimary
	border-radius 0.18em
	padding ($gutter/2)
	width 100%

textarea
	height ($space*4)
	min-width 100%
	max-width 100%
	width 100%

input[type=button],
input[type=submit],
button
.button
	background $colorPrimary
	border none
	border-bottom 0.21em solid $colorSecondary
	border-radius 1em
	color $colorSecondary !important
	display inline-block
	font-family $fontPrimary
	padding ($gutter/3) $gutter
	text-decoration none

form div ul
	list-style none
	padding 0
	margin 0
	
	li
		color #C00
		font-style italic
