/**
 * Typography
 * base
 */

body
	font-size 100%
	line-height 1.8

h1, h2, h3, h4, h5, h6
	font-family $fontPrimary
	margin-bottom 0.3em
	line-height 1.5

p
	margin 0 0 1em;

small
	font-size 0.66em

img
	max-width 100%
